
/*-----------------------------------BARRA DE NAVEGACION-----------------------------------*/

nav {
	top: 0;
	height: 64px;
}



nav>ul>li {
	vertical-align: middle;
}


.link{
	display:none;
}

#nombre{
	padding-left: 35px;
    margin-left: 0px;
    height: 45px;
	line-height: 75px;
}

#nombre>a{
	color: #000000;
}

#menu{
	display: inline-block;
    line-height: 60px;
    position: absolute;
    width: 41px;
	left: 80%;
    left: calc(100% - 106px);
	
}

#portfolio span:nth-of-type(2) {
    margin-left: 0px;
    position: absolute;
    right: 0px;
    margin-top: 57px;
}



 

#bienvenido img {
    z-index: 150;
    top: calc(50vh - 80px);
    width: 190px;
}
/*-----------------------------------FIN BARRA DE NAVEGACION-----------------------------------*/

/*-----------------------------------SECCION BIENVENIDOS-----------------------------------*/



#circ_uno{display:none;}
#linea_cuatro{display:none;}
#cua_borde_uno{display:none;}
#cuad_dos{display:none;}

#cuad_tres{display:none;}
        #cuad_cuatro{display:none;}
		#cuad_uno{display:none;}
        
        #cua_borde_tres{display:none;}
        
        #circ_cuatro{display:none;}
        
        #cir_borde_tres{display:none;}
       
        #linea_cuatro{display:none;}
		
		#cir_borde_uno {
    left: 87%;
}
	
/*-----------------------------------SECCION BIENVENIDOS-----------------------------------*/


/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #80FFA6;;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;

}

/* Links inside the dropdown */
.dropdown-content a {
        color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fafafa}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;    margin-top: -12px;
    right: 0;}
	
	
	#bienvenido {
    height: calc(100vh - 118px);
    width: calc(100% - 80px);        
	margin-top: 66px;}
	
	#portfolio {
    width: 100%;}
	
	
	#portfolio span:first-of-type {
    width: 15%;
	    margin-right: 15%;
}

#portfolio span {

    width: 50px;

    margin-left: 10%;}
	
	.trabajos .doble {
    width: 100%;
	margin: 8px 0px;

}

.trabajos .doble p, .trabajos .doble h3{
	margin: 0px 8px;
}

.trabajos .single {
    width: 100%;
    margin-left: 0px;
}

.deco {
    width: 90%;
    height: 1800px;
}

.deco #circ_dos {
    top: 60%;
}

#texto_sso{    text-align: end;     width: 95%;}    
	
#vanguardias_texto{    text-align: left;
    margin-top: 22px;}
	
	#vanguardias{    margin-top: -20px;}
	
#vanguardias, #viajeconchicos, #gol, #receptivo, #danza, #poesia, #sso, #fichas, #coasgourmet, #newsletters, #kronnix{background-size: cover;}
	
	
	
	iframe{
		width: auto !important;
		height: auto !important;}
		
		.mas_info{width: 90% !important;}
		
	.deco #cua_borde_dos {
    top: 3%;
    left: 90%;
}


.thumbnail{-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);}
	
.texto{display: inline-block;width: 44%;
    text-align: left;}

.trabajos .single .thumbnail {
    width: 44%;
    margin-left: 10px;
    display: inline-block;
    margin-right: 10px;
}

#sso_a, #poesia_a{width: 44%;}
#sso, #poesia{width: 100%;}

#texto_sso {
    width: 44%;
    text-align: left;
}

#texto_poesia {
    width: 44%;
    text-align: right;
}

#texto_sso .texto{
    width: 100%;
}

#texto_poesia .texto{
    width: 100%;text-align: right;
}


#vanguardias_texto{margin-left: 8px;}

#popup_poesia img{display: none;}



.bx-wrapper, .bx-viewport {
    height: auto !important;
    width: 320px !important;
}

.fsp-content{
    top: 0px!important;
    margin-top: 100px !important;}