* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	font-family: ´'GillSans-Medium'; /*-------LLAMAR CSS FUENTES----------*/
	margin:  0 auto;
	font: normal 100% 'GillSans-Medium';
	color: #000000;
	overflow-x: hidden;
	font-size: 16px;
}

body.open {
	/*overflow: hidden;*/
}

button {
	cursor: pointer;
	border: none;
}


/* Nav Bar */

header {
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 0;
}

nav {
	margin:auto;
	width: calc(100% - 180px);
	max-width: 1440px;
	background-color: white; 
	margin-top: 32px;
}

nav>ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
nav>ul li {
	flex-align: row;
	font-size: 14px;
	text-transform: uppercase;
    letter-spacing: 2px;
}
nav a {
	color: #000000;
}
nav a:hover {
	color: #80FFA6; 
}
nav span {
	display: flex;
}
nav span li {
	margin-left: 24px;
}
/* End Nav Bar */

section {
	width: calc(100% - 180px);
	max-width: 1440px;
	padding: 60px 0;
    margin: 0 auto;
}
.hero {
    height: calc(100vh - 80px);
    max-height: 900px;
    margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	padding: 0;
}
.welcome{
	align-self: center;
	position: absolute;
}
h1 {
	font-size: 72px;
	font-family: 'Bodoni-Book';
	max-width: 720px;
	padding: 12px 0;
}
h1 span{
	font-family: 'Bodoni-Bold';
	position: relative;
}
h1 span:before {
	content: "";
    z-index: -1;
    background-color: #80FFA6;
    position: absolute;
    width: 102%;
    height: 20px;
    bottom: -2px;
    left: -3px;
    height: 28px;
}

h2 {
	font: normal 100% 'GillSans-Light';
	font-size: 28px;
}
h2 span {
	color: #80FFA6; 
	font: normal 100% 'GillSans-Bold';
}
h3 {
	font: normal 100% 'GillSans-Light';
	letter-spacing: 3px;
	margin-top: 4px;
}

.scroll {
	align-self: flex-end;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
}



/* Work */

h2 strong {
	font-family: 'GillSans-Bold';
}

.study {
	display: flex;
	justify-content: space-between;
	margin: 80px 0;
}

.study-arrow {
	height: 25px;
	width: 100px;
    background: url(../img/arrow-right.png) center left no-repeat;
}

.study-information {
	padding: 0 60px 0 0;
	width: 35%;
	align-self: center;
	display: flex;
	justify-content: space-between;
}
.study-information h2{
	font-size: 32px;
}
.study-information ul {
	font-size: 16px;
	font-family: 'GillSans-Light';
	display: flex;
	flex-direction: row;
	margin-left: -5px;
}
.study-information li {
	border-radius: 24px;
    padding: 12px 16px 9px;
    background-color: #E6FFED;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1;
}

.study-information p {
	font-size: 20px;
	font-family: 'GillSans-Light';
	margin: 40px 0;
	letter-spacing: 0.5px;
}

.study-information button,
.aboutme-information button {
	border: 1px solid #000000;
	border-radius: 24px;
	padding: 16px 32px 14px;
	color: #000000;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
    display: inline-block;
    background-color: white;
}
.study-information button:hover,
.aboutme-information button:hover {
	background-color: #000000;
	border-color: #000000 ;
	color: #ffffff;
	transition: all .3s linear;
}


.study-img {
	padding: 0 40px;
	width: 55%;
	padding: 0 12px;
}
.study-img img{
	width: 100%;
}




.behance {
	padding: 90px;
    background: #E6FFED;
    margin-top: -40px;
}
.behance div {
	max-width: 1440px;
	margin: auto;
}
.behance h2 {
	margin-bottom: 10px;
}
.behance p{
	font-family: 'GillSans-Light';
}
.behance a {
	color: #000000;
    border-bottom: 2px solid #80FFA6;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.behance a:hover {
	opacity: 0.6;
}






/* About me */
.aboutme {
	display: flex;
	justify-content: space-around;
}
.aboutme-information {
	width: 50%;
}
.aboutme-img {
	width: 25%;
	min-width: 230px;
}
.aboutme-img img{
	width: 100%;
}
.aboutme-img p{
	width: 100%;
	font-family: 'GillSans-Light';
	font-size: 36px;
	display: inline-block;
	margin-top: 10px;
	text-align: right;
}
.aboutme-information h2 {
	font-family: 'Bodoni-Book';
	font-size: 60px; 
	margin: 40px 0;
}

.aboutme-information h2 span {
	font-family: 'Bodoni-Bold';
	color: #000000;
}
.aboutme-information p:first-of-type {
	font-size: 24px;
}
.aboutme-information p {
	margin-bottom: 20px;
	font-family: 'GillSans-Light';
	max-width: 450px;
}
.aboutme button {
	margin-top: 20px;
}




h2.title {
	font-size: 72px;
	font-family: 'Bodoni-Book';
	max-width: 720px;
	padding: 12px 0;
	width: 50%;
}
h2.title span{
	font-family: 'Bodoni-Bold';
	position: relative;
	color: #000000;
}
h2.title span:before {
	content: "";
    z-index: -1;
    background-color: #80FFA6;
    position: absolute;
    width: 102%;
    height: 20px;
    bottom: -2px;
    left: -3px;
    height: 28px;
}

.contact {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
}
.contact a {
	margin: 0 20px;
}
.contact a:hover {
	opacity: 0.6;
}

footer p {
	font: normal 100% 'GillSans-Light';
    letter-spacing: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 60px;
}
footer img {
	margin: 0 5px;
}



.single-case .background {
	width: 100%;
}
.single-case {
	display: none;
	background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.single-case.show {
	display: block;
	overflow-x: hidden;
    overflow-y: auto;
}

.close-case {
	height: 32px;
	width: 32px;
	background: url('../img/close.png') center center no-repeat;
}

.single-case p {
	font-size: 18px;
    line-height: 22px;
    font-family: 'GillSans-Light';
    margin-top: 10px;
}
.single-case p.role {
	font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
}

.single-case h2 {
	font-size: 44px;
	font-family: 'Bodoni-Book';
	padding: 12px 0;
}

.single-case .case-hero h4{
	text-transform: uppercase;
    font-size: 18px;
    font-family: 'GillSans-Bold';
    margin-bottom: 12px;
    letter-spacing: 2px;
}
.single-case h4{
	font-size: 24px;
	font-family: 'GillSans-Light'; 
	margin-bottom: 12px;
	letter-spacing: 1px;
}
.single-case h4 span{
	font-family: 'GillSans-Bold';
}

.single-case .study-arrow {
	display: inline-block;
    width: 50px;
}

.case-hero {
	display: flex;
    align-items: center;
    margin-top: 80px;
    justify-content: space-between;
    height: calc(100vh - 80px);
}
.case-img {
	width: 55%;
    position: absolute;
    right: 0;
    top: 80px;
}
.case-img img{
    height: calc(100vh - 60px);
    position: absolute;
    right: 0;
}
.case-detail {
	width: calc(45% - 120px);
    max-width: 500px;
}
.case-detail ul {
	font-family: 'GillSans-Light';
}

.case-two-columns {
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.case-two-columns img {
	width: 100%;
}
.case-two-columns .right {
	width: 60%;
	margin-right: -80px;
}
.case-two-columns .left {
	width: 30%;
}

.card-row {
	display: flex;
	height: 100%;
	align-items: center;
}

.card {
	background-color: #ffffff;
	-webkit-box-shadow: 4px 4px 30px 0px rgba(45,41,56,0.15);
	-moz-box-shadow: 4px 4px 30px 0px rgba(45,41,56,0.15);
	box-shadow: 4px 4px 30px 0px rgba(45,41,56,0.15);
	width: 200px;
    border-radius: 16px;
    padding: 8px 20px 20px 20px;
    margin-right: 20px;
    height: 220px;
    z-index: 0;
}
.card h4 {
	font-size: 18px;
    font-family: 'GillSans-Bold';
    margin-top: 43px;
    margin-bottom: 30px;
}
.card span {
	font-size: 74px;
    font-family: 'Bodoni-Bold';
    color: #F3F2F3;
    position: absolute;
    z-index: -1;
}
.card p {
	font-size: 16px;
	font-family: 'GillSans-Light';
}

#admin-research {
    margin-top: 40px;
    background: url('../img/admin-research.png') right center no-repeat;
    height: 500px;
    padding: 60px;
}

.prototype-description,
.testing-description {
	width: 50%;
	margin-top: 80px;
}
.prototype-info img {
	margin-left: -80px;
	width: calc(100% + 160px);
}

.testing-description {
	margin-bottom: 40px;
}
.testing-info {
	margin-top: 80px;
}
.testing-info img {
	width: 100%;
}
.case-description .card-row {
	margin: 80px 0;
}


.finalimages img {
	width: 100%;
}






/* Deco Shapes */
.shapes {
	width: 100%;
}
.formita {
	position: relative;
	z-index: 1;	
}
div[id^="cuad"]{
	width: 15px;
	height: 15px;
	background-color: #000000;
}
#cuad_tres{top: 75%;left: 90%;} #cuad_cuatro{top: 20%;left: 65%;}

div[id^="cua_borde"]{
	width: 15px;
	height: 15px;
	border: 1px solid #000000;
}
#cua_borde_dos{top: 10%;left: 35%;}
	
div[id^="cir_borde"]{
	width: 15px;
	height: 15px;
	border: 1px solid #000000;
	border-radius: 10px;
}
#cir_borde_dos{top: 75%; left: 20%;} #cir_borde_tres{top: 60%;left: 80%;}
	
div[id^="linea"]{
	width: 20px;
	height: 3px;
	background-color: #000000;
}

#linea_dos{top: 15%;left: 0;} #linea_cuatro{top: 25%; left: 70%;}

.close-btn, .dropdown-btn { display: none; }




@media only screen and (max-width: 768px) {
	nav, 
	section {
		width: calc(100% - 80px);
	}
	.menu-dropdown {
		display: none;
		width: 100%;
	    background: rgba(0, 0, 0, 0.85);
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 100vh;
	    text-align: center;
   	 	padding-top: 120px;
    	line-height: 3;
	}
	.menu-dropdown.show {
		display: inline-block;
		transition: all .3s linear;
	}

	.welcome {
		padding-right: 40px;
	}
	h1 {
		font-size: 40px;
	}
	h1 span:before {
    	height: 20px;
    	bottom: -4px;
	}
	.dropdown-btn {
		height: 32px;
		width: 32px;
		background: url('../img/hamburguer.png') center center no-repeat;
		border: none;
		padding: 0;
		margin-top: -7px;
		display: block;
	}
	.close-btn {
		height: 32px;
		width: 32px;
		background: url('../img/close.png') center center no-repeat;
		padding: 0;
		right: 40px;
    	top: 40px;
    	position: absolute;
    	display: block;
	}

	.menu-dropdown .menu-link a{
		font-size: 24px;
		color: #ffffff; 
		letter-spacing: 5px;
	} 






	.study {
		flex-wrap: wrap;
	}
	.study-information, 
	.study-img {
		width: 100%;
	}
	.study-arrow {
		width: 100px;
	}

	.study-information p{
		margin: 20px 0;
	}

	.study-img {
		margin-top: 20px;
	}




	.behance {
		padding: 40px;
	}

	.aboutme {
		flex-direction: column-reverse;
		margin-top: 40px;
	}
	.aboutme-information {
		width: 100%;
	}
	.aboutme-img p {
		text-align: left;
		font-size: 24px;
	}
	.aboutme button {
		margin-top: 0px;
	}

	.contact {
		flex-direction: column;
	}
	.contact .title {
		width: 100%;
	}
	.contact .social {
		margin-top: 20px;
	    text-align: left;
	    width: 100%;
	}
	.contact a {
		margin: 0 5px;
	}


	.case-hero {
	    flex-direction: column;
	    height: auto;
	}
	.case-img {
		width: calc(100% + 80px);
	    order: 1;
	    position: relative;
	    margin-top: -30px;
	    top: 0;
	    margin-right: -80px;
	}
	.case-img img{
		height: auto;
    	width: 100%;
    	position: relative;
	}
	.case-detail {
		width: 100%;
		order: 2;
	}
	#admin-research {
		background: none;
		margin-top: 0px;
    	padding-right: 20px;
    	padding-top: 0px;
    	height: auto;
    	padding-bottom: 0px;
	}
	.card-row {
		flex-direction: column;
	}
	.card {
		width: 100%;
    	margin-bottom: 40px;
    	padding: 16px 40px 40px;
	}
	.single-case h2 {
		font-size: 44px;
		margin-top: 40px;
	}
	.case-two-columns {
		flex-direction: column;
		margin-top: 40px;
	}
	.case-two-columns  .right,
	.case-two-columns  .left{
		width: 100%;
	}
	.case-two-columns .right {
		margin-right: 0px;
		width: calc(100% + 80px);
	}
	.case-two-columns img {
		margin: 40px 0;
	}

	.prototype-description, 
	.testing-description {
		width: 100%;
	}
	.prototype-info img {
	 	margin-left: -200px;
    	width: calc(100% + 400px);
    	margin-top: 40px;
    }
    #admin-desktop {
    	margin-left: -20%;
    	width: 150%;
    }

    .case-implement .card-row {
        padding: 0 40px;
    }
    .testing-info img {
   		width: 150%;
	}
}

@media only screen and (max-width: 359px) {
	nav, section {
	    width: calc(100% - 40px);
	}
}



