@font-face {
  font-family: 'GillSans-Light';
  src: url('GillSansMTPro-Light.eot');
  src: url('GillSansMTPro-Light.woff2') format('woff2'),
       url('GillSansMTPro-Light.woff') format('woff'),
       url('GillSansMTPro-Light.ttf') format('truetype'),
       url('GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg'),
       url('GillSansMTPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Medium';
  src: url('GillSansMTPro-Medium.eot');
  src: url('GillSansMTPro-Medium.woff2') format('woff2'),
       url('GillSansMTPro-Medium.woff') format('woff'),
       url('GillSansMTPro-Medium.ttf') format('truetype'),
       url('GillSansMTPro-Medium.svg#GillSansMTPro-Medium') format('svg'),
       url('GillSansMTPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Bold';
  src: url('GillSans-SemiBold.eot');
  src: url('GillSans-SemiBold.woff2') format('woff2'),
       url('GillSans-SemiBold.woff') format('woff'),
       url('GillSans-SemiBold.ttf') format('truetype'),
       url('GillSans-SemiBold.svg#GillSans-SemiBold') format('svg'),
       url('GillSans-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni-Book';
  src: url('Bodoni-Book.eot');
  src: url('Bodoni-Book.woff2') format('woff2'),
       url('Bodoni-Book.woff') format('woff'),
       url('Bodoni-Book.ttf') format('truetype'),
       url('Bodoni-Book.svg#Bodoni-Book') format('svg'),
       url('Bodoni-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni-Bold';
  src: url('Bodoni-Bold.eot');
  src: url('Bodoni-Bold.woff2') format('woff2'),
       url('Bodoni-Bold.woff') format('woff'),
       url('Bodoni-Bold.ttf') format('truetype'),
       url('Bodoni-Bold.svg#Bodoni-Bold') format('svg'),
       url('Bodoni-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

