@config "../tailwind.config.js";

@import 'tailwindcss';

html {
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

ul {
  @apply pl-0 list-disc;
}
